<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo(a) ao Blorges!</h1>
  <p class="lead">Esse é meu blog! Espero que você se divirta lendo e escrevendo! Chega de queimar os neurônios com outras redes sociais!!!</p>
  <hr class="my-4">
  <p>Se você é novo(a) aqui e ainda não criou uma conta, clique no botão abaixo!</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/cadastro" role="button">Criar uma conta</a>
</div>

<hr>

<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-primary">Leia mais</button></a>
        <hr>
        <div class="d-flex flex-column">
            <small>Categoria: {{categoria.nome}}</small>
            <small>Data de publicação: {{categoria.date}}</small>
        </div>
        
    </div>
</div>

{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}

